<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Common Header</title>

</head>
<body>
<div th:fragment="header">
    <div class="header-container">
        <i class="fa-solid fa-house-chimney" onclick="location.href='/itblog/index'"></i>
        <div class="center-section">
            <div class="search-container">
                <input type="text" class="search-box" placeholder="검색...">
                <button class="search-button">검색</button>
            </div>
        </div>
        <div class="right-section">
            <div id="user-email"></div>
            <div class="header-buttons">
                <button class="logout-button" style="display: none;">로그아웃</button>
                <button class="login-button" onclick="location.href='/itblog/login'">로그인</button>
                <button class="profile-button" style="display: none;">프로필</button>
                <button class="my-posts-button" style="display: none;">내 글</button>
                <button class="my-comments-button" style="display: none;">내 댓글</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
