<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main-my-blog</title>
</head>
<body>
<div class="blog-content">
    <div class="latest-posts">
        <h2>내 블로그 최신 글</h2>
        <ul>
            <li>
                <div class="post-title">글 제목<span class="comment-counts">(15)</span></div>
                <div class="post-preview">
                    <p>안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 </p>
                    <img src="/images/image.png" alt="미리보기 이미지" class="preview-image">
                </div>
                <div class="post-info">
                    <span class="author">작성자: 홍길동이너무길게나오면어떻게되지</span>
                    <span class="date">작성일: 2024-01-01</span>
                    <span class="views">조회수: 5000</span>
                    <span class="likes">좋아요: 5000</span>
                </div>
            </li>
            <li>
                <div class="post-title">글 제목<span class="comment-counts">(15)</span></div>
                <div class="post-preview">
                    <p>안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 </p>

                </div>
                <div class="post-info">
                    <span class="author">작성자: 홍길동</span>
                    <span class="date">작성일: 2024-01-01</span>
                    <span class="views">조회수: 5000</span>
                    <span class="likes">좋아요: 5000</span>
                </div>
            </li>
            <li>
                <div class="post-title">글 제목<span class="comment-counts">(15)</span></div>
                <div class="post-preview">
                    <p>안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요
                        안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 </p>
                    <img src="/images/image.png" alt="미리보기 이미지" class="preview-image">
                </div>
                <div class="post-info">
                    <span class="author">작성자: 홍길동</span>
                    <span class="date">작성일: 2024-01-01</span>
                    <span class="views">조회수: 5000</span>
                    <span class="likes">좋아요: 5000</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="right-content">
        <div class="latest-comments">
            <h2>내 블로그 최신 댓글</h2>
            <ul>
                <li>
                    <span class="comment-author">작성자1 근데 길이가 너무기네?</span>
                    <span class="comment-content">댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 </span>
                    <span class="comment-time">작성시간</span>
                </li>
                <li>
                    <span class="comment-author">작성자2</span>
                    <span class="comment-content">댓글 내용</span>
                    <span class="comment-time">작성시간</span>
                </li>
                <li>
                    <span class="comment-author">작성자3</span>
                    <span class="comment-content">댓글 내용</span>
                    <span class="comment-time">작성시간</span>
                </li>
            </ul>

        </div>

        <div class="latest-guestbook">
            <h2>내 방명록 최신 글</h2>
            <ul>
                <li>
                    <span class="guestbook-author">작성1</span>
                    <span class="guestbook-content">방명록 내용</span>
                    <span class="guestbook-time">작성시간</span>
                </li>
                <li>
                    <span class="guestbook-author">작성자2</span>
                    <span class="guestbook-content">방명록 내용</span>
                    <span class="guestbook-time">작성시간</span>
                </li>
                <li>
                    <span class="guestbook-author">작성자</span>
                    <span class="guestbook-content">방명록 내용</span>
                    <span class="guestbook-time">작성시간</span>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>