.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2; /* z-index를 2로 설정하여 왼쪽 메뉴 위에 표시 */
}

.fa-house-chimney {
    font-size: 24px; /* 아이콘 크기 */
    /* 왼쪽 정렬을 위해 추가적인 마진 설정은 필요 없음 */
}

.center-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-box {
    width: 300px; /* 원하는 크기로 너비 설정 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.search-button {
    padding: 10px 15px;
    background-color: #4cae4c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #5cb85c;
}

.header-buttons {
    display: flex;
}

.header-buttons button {
    margin-left: 10px; /* 버튼 사이의 간격 */
    padding: 5px 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* 버튼의 글꼴 크기 조정 */
}

.header-buttons button:hover {
    background-color: #4cae4c;
}

#user-email {
    margin-left: 10px;
}
