<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/left.css">
    <script src="https://kit.fontawesome.com/7e0c444038.js" crossorigin="anonymous"></script>
    <script src="/js/auth/jwt.js"></script>
    <script src="/js/common/header.js"></script>
    <script src="/js/common/leftMenu.js"></script>
</head>
<body>
<div th:replace="common/leftMenu :: header"></div>

</body>
</html>